In [39]:
import pandas as pd
import numpy as np
import googlemaps
from datetime import datetime

In [40]:
maps_key = "AIzaSyAAwZ4zfo0Q2L7m7qP335-fmUyASvuprqA"
gmaps = googlemaps.Client(key=maps_key)

Travel_Data is Randomly Created Unique Locations in United States.

In [41]:
travel_data = pd.read_csv("MOCK_DATA.csv")

In [42]:
travel_data.head(5)

,id,Country,State,Location Name,Latitude,Longitude,Number of Parcels
0,1,United States,Texas,Amarillo,35.4015,-101.8951,37
1,2,United States,California,Sacramento,38.4826,-121.4006,53
2,3,United States,Pennsylvania,Pittsburgh,40.4344,-80.0248,93
3,4,United States,District of Columbia,Washington,38.8933,-77.0146,69
4,5,United States,Florida,Pensacola,30.6143,-87.2758,85

Creating final_list Data Frame which iteratively stores the Distance and Time taken from the last location where the item was delivered or from the warehouse.

In [43]:
final_list = pd.DataFrame(index=np.linspace(1,20,20),columns=['Destination','Dist','Time'])
final_list.head(5)

    Destination Dist Time
1.0         NaN  NaN  NaN
2.0         NaN  NaN  NaN
3.0         NaN  NaN  NaN
4.0         NaN  NaN  NaN
5.0         NaN  NaN  NaN

In [44]:
dist = dict()

In [45]:
travel_data_sorted = travel_data.groupby(['Location Name','Latitude','Longitude']).sum()

Grouping the total Parcels to be delivered and Different locations to be visited in a particular city.

In [46]:
travel_data_sorted

                                       id  Number of Parcels
Location Name   Latitude Longitude
Akron           41.0280  -81.4632     866                 48
                41.1075  -81.5006    1698                 79
Albany          42.6149  -73.9708    2262                257
                42.6568  -73.7605     355                 64
                42.7198  -73.8207    2065                121
Albuquerque     35.0443  -106.6729   4985                513
                35.0448  -106.6893    820                 32
                35.0512  -106.7269    634                 56
                35.1104  -106.5781    593                175
Alexandria      38.8158  -77.0900     274                  7
                38.8200  -77.0589     377                  3
Amarillo        35.1885  -101.8165    776                 41
                35.4015  -101.8951   3310                195
Anaheim         33.8356  -117.9132   1274                 94
                33.8359  -117.9086   1102                109
Anchorage       61.1872  -149.8804    423                 87
                61.1901  -149.9361    628                 65
Ann Arbor       42.2535  -83.8366     708                 94
Anniston        33.7358  -85.7933     559                 90
Arlington       32.7714  -97.2915     506                 45
                38.8808  -77.1130     132                 54
Atlanta         33.7217  -84.3339     750                 93
                33.7230  -84.4702    1477                 97
                33.7473  -84.3824     858                189
                33.7488  -84.3883     229                 71
                33.7629  -84.4226     703                 56
                33.8444  -84.4740    4629                371
                33.8913  -84.0746     664                 55
Augusta         33.4130  -82.1337     982                 74
Aurora          39.6255  -104.7874    796                 27
...                                   ...                ...
Virginia Beach  36.8282  -76.0237      66                 69
Visalia         36.3551  -119.3010    552                 89
Waco            31.6403  -97.0963     117                 47
Washington      38.8840  -77.0221     230                 79
                38.8874  -77.0047     655                 51
                38.8910  -77.0211     563                 83
                38.8933  -77.0146   10486               1193
                38.9007  -77.0431     836                 16
                38.9067  -77.0312    1632                 77
                38.9164  -76.9948     185                 43
                38.9381  -77.0860    1185                102
Waterloo        42.4156  -92.2703     656                 79
West Palm Beach 26.6644  -80.1741     799                 86
                26.6654  -80.0929     228                 61
                26.6700  -80.0582     430                 58
White Plains    41.0247  -73.7781     524                 57
Wichita         37.6808  -97.1558     566                 34
                37.7639  -97.4269      76                 41
                37.7667  -97.2805     585                 24
Wichita Falls   33.8581  -98.5755    1228                112
                33.9995  -98.3938     356                 73
Wilkes Barre    41.2722  -75.8801     921                 69
Wilmington      34.2651  -77.8670     583                 50
                39.5645  -75.5970     501                 14
Winston Salem   36.0275  -80.2073     680                 32
Winter Haven    27.9810  -81.6736     994                 27
Worcester       42.2894  -71.7888    1472                 80
Young America   44.8055  -93.7665    1074                 28
                45.0159  -93.4719     842                 18
Zephyrhills     28.2059  -82.3063      96                 92

[615 rows x 2 columns]

In [47]:
#Finding the Unique List of Cities to be visited
Unique_Locations = list(set(travel_data['Location Name']))

In [48]:
steps = 20
Unique_Locations_DF= pd.DataFrame(index=np.linspace(1,steps,steps),columns=['Destination'])

GeoCoding all the Locations to prevent mismatch from Google Maps Place names into a Dictionary shortened.

In [49]:
shortened = dict()
for i in range(1,steps):
    shortened[i] = gmaps.geocode(Unique_Locations[i])

In [50]:
for i in range(1,steps-1):
    Unique_Locations_DF['Destination'][i] = shortened[i][0]['formatted_address']

Storing the Unique Geocoded Locations into a Data Frame and Using the First Location as the Warehouse/Origin.

In [51]:
warehouse = Unique_Locations_DF['Destination'][1]
travel_route = pd.Series(index=np.linspace(1,20,20)).astype(str)
travel_route[1] = warehouse

In [52]:
#For Limitation Using Steps
def Distance_Table(origin,destinations,steps):
    for j in range(1,10):#steps):
        dist[j] = gmaps.distance_matrix(origin,destinations[j])
    return dist

In [53]:
#Defining The Distance and Time Table
def Table_Define(dist):
    for i in range(1,len(dist)):
        final_list['Destination'][i] = dist[i]['destination_addresses'][0]
        final_list['Dist'][i] = dist[i]['rows'][0]['elements'][0]['distance']['value']
        final_list['Time'][i] = dist[i]['rows'][0]['elements'][0]['duration']['value']
    return final_list

In [ ]:
# Computing For 10 Locations
j = 1
for i in range(1,10):
    Distance_Table(travel_route[i],Unique_Locations_DF['Destination'],steps)
    Table_Define(dist)
    sorted_list = final_list.sort_values(by='Time')
    travel_route[j]=sorted_list.iloc[0]['Destination']
    print sorted_list.iloc[0]['Destination']
    a = Unique_Locations_DF[Unique_Locations_DF['Destination']==travel_route[j]].index[0]
    j=j+1
    Unique_Locations_DF.drop(Unique_Locations_DF.index[a],inplace= True)
    Unique_Locations_DF = Unique_Locations_DF.reset_index(drop=True)

In [288]:
travel_route

1.0            Albany, NY, USA
2.0        Montgomery, AL, USA
3.0     Winston-Salem, NC, USA
4.0            Toledo, OH, USA
5.0       Spartanburg, SC, USA
6.0         Frederick, MD, USA
7.0             Tyler, TX, USA
8.0         Lynchburg, VA, USA
9.0              Kent, OH, USA
10.0                       nan
11.0                       nan
12.0                       nan
13.0                       nan
14.0                       nan
15.0                       nan
16.0                       nan
17.0                       nan
18.0                       nan
19.0                       nan
20.0                       nan
dtype: object